<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>home</title>
  </head>
  <body>
    <h1>Ola mundo</h1>

    <form action="/test" method="post">
      <label for="titulo">Titulo:</label>
      <input type="text" name="titulo" id="titulo" />
      <label for="conteudo">Conteudo: </label>
      <textarea name="conteudo" id="conteudo"></textarea>
      <button type="submit">Cadastrar postagem</button>
    </form>

  </body>
</html>